/* Section Class */
.intro {
  h1,
  h3 {
    grid-column: 2 / 12;
    grid-row: 6 / 7;
    align-self: end;
  }

  h2,
  h4 {
    grid-column: 2 / 12;
    grid-row: 7 / 8;
    align-self: start;
  }
}

/* type */
.simple {
  /* standard headline */
  h3 {
    grid-column: 2 / 12;
    grid-row: 2 /3;
    align-self: end;
  }
  ul,
  ol {
    /* outline: 1px solid red; */
    grid-column: 2 / 12;
    grid-row: 3 / 12;
    list-style: inherit;
    margin-top: 2rem;
    li {
      margin-bottom: 1.2rem;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 1.2;
    }
  }
}

/* Section Class */
.center {
  > * {
    text-align: center;
  }
}
