/* Section Class */
.intro {
  h1 {
    grid-column: 2 / 12;
    grid-row: 6 / 7;
    align-self: end;
  }

  h2 {
    grid-column: 2 / 12;
    grid-row: 7 / 8;
    align-self: start;
  }
}

/* Section Class */
.simple {
  h3 {
    grid-column: 2 / 12;
    grid-row: 2 /3;
    /* text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6); */
    align-self: end;
  }
}

/* Section Class */
.center {
  > * {
    grid-column: 2 / 12;
    grid-row: 2 / 12;
    place-self: center;
  }
}
